<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR Test</title>


    <div>
        <input type="file">

        <div>
            <label for="company_name">회사 명
                <input type="text" id="company_name">
            </label>
        </div>
        <div>
            <label for="business_license_number"> 사업자 등록번호
                <input type="text" id="business_license_number">
            </label>
        </div>
        <div>
            <label for="representative_name">대표자 명
                <input type="text" id="representative_name">
            </label>
        </div>
        <div>
            <label for="business_type">업태
                <input type="text" id="business_type">
            </label>
        </div>
        <div>
            <label for="business_item">종목
                <input type="text" id="business_item">
            </label>
        </div>

        <div>
            <label for="address">주소
                <input type="text" id="address">
            </label>
        </div>



    </div>

</head>
<body>

</body>
<script>


</script>
</html>