<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR Test</title>

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .d-none {
            display: none;
        }

    </style>
</head>
<body>

<div>
    <input id="imageFile" name="file"
           type="file" accept="image/*"
           multiple/>

    <div class="loader d-none"></div>

    <img alt="" id="previewImage" style="height: 350px; max-width: 300px;" src="">


    <div>
        <label for="company-name">회사 명
            <input type="text" id="company-name">
        </label>
    </div>
    <div>
        <label for="business-license-number"> 사업자 등록번호
            <input type="text" id="business-license-number">
        </label>
    </div>
    <div>
        <label for="representative-name">대표자 명
            <input type="text" id="representative-name">
        </label>
    </div>
    <div>
        <label for="business-type">업태
            <input type="text" id="business-type">
        </label>
    </div>
    <div>
        <label for="business-item">종목
            <input type="text" id="business-item">
        </label>
    </div>

    <div>
        <label for="address">주소
            <input type="text" id="address">
        </label>
    </div>


</div>

</body>


<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<script>
    $('#imageFile').on('change', function () {
        let extension = $(this).val().split('.').pop().toLowerCase(); //확장자
        if ($.inArray(extension, ['png', 'jpg', 'jpeg']) === -1) {
            if (extension === "") {
                window.alert('선택된 파일이 없습니다.');
            } else {
                window.alert('이미지 파일이 아닙니다 (gif, png, jpg, jpeg 만 업로드 가능)');
            }
            document.getElementById("imageFile").value = "";

            $("#previewImage").attr("src", "");
        } else {
            let loader = $("div.loader");
            loader.removeClass("d-none");                       // loading 표시

            const file = $('#imageFile').prop("files")[0];
            const blobURL = window.URL.createObjectURL(file);

            $("#previewImage").attr("src", blobURL);

            let formData = new FormData();
            const inputFile = document.querySelector("#imageFile");
            formData.append("image", inputFile.files[0]);

            let xmlHttpRequest = new XMLHttpRequest();
            xmlHttpRequest.addEventListener("load", function () {
                if (xmlHttpRequest.status === 200) {
                    loader.addClass("d-none");                  // loading 제거

                    let response = xmlHttpRequest.response;

                    // 인식 성공 일 경우
                    if (response != null) {
                        let responseName = response.name;
                        let responseAddress = response.address;
                        let responseBusinessLicenseNumber = response.businessLicenseNumber;
                        let responserepresentativeName = response.representativeName;
                        let responsebusinessType = response.businessType;
                        let responsebusinessItem = response.businessItem;

                        responseName = responseName.replace(/\\n/g, '');       // OCR 후 다른 특수문자는 있어야 하지만[ex.(주)] 줄 바꿈 \n은 필요없기 때문에 \n만 제거
                        responseAddress = responseAddress.replace(/\\n/g, '');
                        responseBusinessLicenseNumber = responseBusinessLicenseNumber.replace(/\\n/g, '');
                        responserepresentativeName = responserepresentativeName.replace(/\\n/g, '');
                        responsebusinessType = responsebusinessType.replace(/\\n/g, '');
                        responsebusinessItem = responsebusinessItem.replace(/\\n/g, '');

                        $("#company-name").val(responseName);
                        $("#address").val(responseAddress);
                        $("#business-license-number").val(responseBusinessLicenseNumber);
                        $("#representative-name").val(responserepresentativeName);
                        $("#business-type").val(responsebusinessType);
                        $("#business-item").val(responsebusinessItem);

                    }
                    // 이미지 인식 실패 일 경우
                    else {
                        alert("OCR 인식 에러입니다.직접 기입해 주세요.");
                        loader.addClass("d-none");
                    }

                } else if (xmlHttpRequest.status === 400) {
                    alert("OCR 인식 에러입니다.직접 기입해 주세요.");
                    loader.addClass("d-none");
                } else {
                    alert("OCR 인식 에러입니다.직접 기입해 주세요.");
                    loader.addClass("d-none");
                }
            });

            xmlHttpRequest.open("POST", "/ocr.do", true);
            xmlHttpRequest.responseType = 'json';
            xmlHttpRequest.send(formData);
        }
    });


</script>
</html>